certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
docker==7.0.0
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
packaging==24.0
pluggy==1.5.0
psycopg==3.1.18
psycopg2-binary==2.9.9
pytest==8.2.0
pywin32==306
requests==2.31.0
SQLAlchemy==2.0.29
testcontainers-core==0.0.1rc1
testcontainers-postgres==0.0.1rc1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wrapt==1.16.0
